BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -2
NamespaceIndentation: All
AlignTrailingComments: true
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
BreakBeforeBraces: Linux
BreakConstructorInitializers: BeforeComma
DerivePointerAlignment: false
PointerAlignment: Left
IncludeBlocks: Regroup
SortIncludes: true
SpaceBeforeParens: ControlStatements
SpacesBeforeTrailingComments: 2
SpacesInContainerLiterals: false
ReflowComments: true
Cpp11BracedListStyle: true
AlwaysBreakTemplateDeclarations: Yes
