Checks: >
  bugprone-*,
  clang-analyzer-*,
  modernize-*,
  performance-*,
  readability-*,
  -bugprone-reserved-identifier,
  -readability-magic-numbers,
  -readability-identifier-length,
  -readability-math-missing-parentheses,
  -bugprone-easily-swappable-parameters,
  -modernize-macro-to-enum,
  -readability-function-cognitive-complexity,
  -readability-non-const-parameter
WarningsAsErrors: ''
HeaderFilterRegex: '^(include|src)/'
FormatStyle: file
CheckOptions:
  - key: readability-identifier-naming.VariableCase
    value: lower_case
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.TypedefCase
    value: lower_case
  - key: readability-identifier-naming.StructCase
    value: lower_case
