BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: None
PointerAlignment: Left
AlignConsecutiveAssignments: Consecutive
AllowShortIfStatementsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
SortIncludes: false
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
BreakBeforeBraces: Allman
DerivePointerAlignment: false
Standard: Cpp17
