Checks: >
  bugprone-*,
  clang-analyzer-*,
  performance-*,
  readability-implicit-bool-conversion,
  readability-misleading-indentation,
  security-*,
  cert-*,
  modernize-use-nullptr
WarningsAsErrors: 'bugprone-*,clang-analyzer-*,security-*'
HeaderFilterRegex: '^(modbus|tests)/'
FormatStyle: file
